<div class="Carousel-slider__display">
  <div class="Carousel-slider__display-inner" style="{{displayShift}}">
  </div>
</div>

<div class="Carousel-slider__nav">
    <a
      href='#'
      class="Carousel-slider__nav-item"
      style="background-color: ">
    </a>
</div>
