{{link-to "Back to exercises" "index"}}

<h2>Freeze panel</h2>

<p>
  When the button below is pressed the
  isFrozen boolean will be toggled.
</p>

<button {{action "toggleIsFrozen"}}>
  Toggle isFrozen
</button>

<p>
  isFrozen: {{isFrozen}}
</p>

<p>
  When is frozen is set to true make it so the panel
  cannot be opened or closed.
</p>

{{c-panel isOpen=false title='Title click me to open' body="Body if i'm visible, i'm open"}}
