<p>Look up the weather</p>
<label>ZIP code:</label>

<input type="number" oninput={{action (perform loadWeather) value='target.value'}}>

{{#if weather}}
  <p>
    The weather is {{weather}}
  </p>
{{/if}}

{{#if loadWeather.isRunning}}
  <p>( fetching... )</p>
{{/if}}
