{{link-to "Back to exercises" "index"}}

<h2>Declarative state</h2>

<ul>
  <li>Click a slide to add <code>Carousel-slider__nav-item--active</code> to active nav-item</li>
  <li>Next, uncomment nav, and make it work! Add <code>Carousel-slider__nav-item--active</code> to the active nav-item</li>
</ul>

{{carousel-slider slides=data}}
