{{link-to "Back to exercises" "index"}}

<h2>Declarative state</h2>

<ul>
  <li>`a` tag in display has class <code>Carousel-slider__slide</code></li>
  <li>List nav-items, set background color</li>
  <li>Add <code>Carousel-slider__nav-item--active</code> to active nav-item</li>
</ul>

{{carousel-slider slides=data}}
