<div class="Panel">

  <div class="Panel__header">
    <a href="#"
       class="Panel__header__title">

      Title here

    </a>

  </div>

  <div class="Panel__body">

    Body here

  </div>

</div>
