<div class="Panel">

  <div class="Panel__header">
    <h2 class="Panel__header__title">

      Title here

    </h2>

    <a href="#"
      class="Panel__header__close">
      Close
    </a>

  </div>

  <div class="Panel__body">

    Body here

  </div>

</div>
