<div class="Panel">

  <div class="Panel__header">
    <a href="#"
      class="Panel__header__title"
      {{action 'toggleIsOpen'}}>

      {{title}}

    </a>

  </div>

  {{#if isOpen}}
    <div class="Panel__body">
      {{body}}
    </div>
  {{/if}}

</div>
