<div class="Panel">

  <div class="Panel__header">
    <a href="#"
       class="Panel__header__title"
       {{action 'toggleIsOpen'}}>

      Title click me to open

    </a>

  </div>

  {{#if isOpen}}
    <div class="Panel__body">
      Body if i'm visible, i'm open
    </div>
  {{/if}}

</div>
